[submodule "Ocell.Common/Sharplonger"]
	path = Ocell.Common/Sharplonger
	url = git@github.com:gjulianm/Sharplonger.git
[submodule "Ocell.Common/hammock"]
	path = Ocell.Common/hammock
	url = git@github.com:gjulianm/hammock.git
[submodule "Ocell.Common/tweetsharp"]
	path = Ocell.Common/tweetsharp
	url = git@github.com:gjulianm/tweetsharp.git
[submodule "Ocell.Common/SharpSerializer"]
	path = Ocell.Common/SharpSerializer
	url = git@github.com:gjulianm/SharpSerializer.git
[submodule "Ocell.Common/BufferAPI"]
	path = Ocell.Common/BufferAPI
	url = git@github.com:gjulianm/BufferAPI.git
