Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
SensitiveData.cs
.DS_Store
Ocell/Assemblies/PhonePerformance*
Ocell/PerformanceLogs/*
GAC_Microsoft.Phone.Interop_v7_0_0_0_cneutral_1.dll

hammock/

Ocell/SampleData/Accounts/Accounts.xaml

Ocell/SampleData/Users/Users.xaml

tweetsharp/

Ocell/Ocell_2012_04_11_23_33_33.sap

*.DS_Store
