[submodule "Ocell.APIs/Ocell.Sharplonger"]
	path = Ocell.APIs/Ocell.Sharplonger
	url = git@github.com:gjulianm/Sharplonger.git
[submodule "Ocell.ThirdParty/hammock"]
	path = Ocell.ThirdParty/hammock
	url = git@github.com:gjulianm/hammock.git
[submodule "Ocell.ThirdParty/tweetsharp"]
	path = Ocell.ThirdParty/tweetsharp
	url = git@github.com:gjulianm/tweetsharp.git
[submodule "Ocell.APIs/SharpSerializer"]
	path = Ocell.ThirdParty/SharpSerializer
	url = git@github.com:gjulianm/SharpSerializer.git
[submodule "Ocell.APIs/Buffer"]
	path = Ocell.APIs/Ocell.Buffer
	url = git@github.com:gjulianm/BufferAPI.git