<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.19-alpha" targetFramework="net45" />
  <package id="AncoraMVVM.Testing" version="0.1.7-alpha" targetFramework="net45" />
  <package id="AsyncOAuth" version="0.8.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="net45" />
  <package id="SharpSerializer.PCL" version="2.18.5" targetFramework="net45" />
  <package id="Tweetsharp.PCL" version="3.0.4-alpha" targetFramework="net45" />
</packages>