<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.37-alpha" targetFramework="portable-net45+win+wp80" />
  <package id="AsyncOAuth" version="0.8.4" targetFramework="portable-net45+win+wp80" />
  <package id="Fody" version="1.26.0-beta0001" targetFramework="portable-net45+win+wp80" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+win+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wp80" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="portable-net45+win+wp80" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="portable-net45+win+wp80" />
  <package id="PropertyChanged.Fody" version="1.48.5" targetFramework="portable-net45+win+wp80" developmentDependency="true" />
  <package id="Tweetsharp.PCL" version="3.0.8-alpha" targetFramework="portable-net45+win+wp80" />
</packages>