<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.22-alpha" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="AncoraMVVM.Rest" version="0.1.13-alpha" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="AsyncOAuth" version="0.8.3" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="BufferAPI" version="0.1.0-alpha" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Fody" version="1.20.0.0" targetFramework="portable-net45+sl50+wp80+win" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="PropertyChanged.Fody" version="1.46.0.0" targetFramework="portable-net45+sl50+wp80+win" developmentDependency="true" />
  <package id="Sharplonger" version="0.1.0-alpha" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="SharpSerializer.PCL" version="2.18.5" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Tweetsharp.PCL" version="3.0.4-alpha" targetFramework="portable-net45+sl50+wp80+win" />
</packages>