<MarketplaceDetails>
  <SmallAppTile>AppIcon99.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>OcellIcon200.png</PCAppTile>
  <ScreenShots>Home.PNG;White.PNG;Tweet.PNG;Columns.PNG;Compose.PNG;Auth.PNG;SplashScreenImage.png;Accounts.PNG;</ScreenShots>
</MarketplaceDetails>