<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.38-alpha" targetFramework="wp81" />
  <package id="AncoraMVVM.Phone" version="0.1.36-alpha" targetFramework="wp81" />
  <package id="AncoraMVVM.Rest" version="0.1.15-alpha" targetFramework="wp81" />
  <package id="AsyncOAuth" version="0.8.4" targetFramework="wp81" />
  <package id="BufferAPI" version="0.1.0-alpha" targetFramework="wp81" />
  <package id="BugSense.WP8" version="3.6.8.0" targetFramework="wp81" />
  <package id="Fody" version="1.28.3" targetFramework="wp81" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wp81" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="wp81" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="wp81" developmentDependency="true" />
  <package id="ReorderListBox" version="1.2.0.0" targetFramework="wp80" />
  <package id="Sharplonger" version="0.1.0-alpha" targetFramework="wp81" />
  <package id="SharpSerializer.PCL" version="2.18.7" targetFramework="wp81" />
  <package id="Tweetsharp.PCL" version="3.0.9-alpha" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp81" />
</packages>