<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.29-alpha" targetFramework="wp80" />
  <package id="AncoraMVVM.Phone7" version="0.1.33-alpha" targetFramework="wp80" />
  <package id="AncoraMVVM.Rest" version="0.1.14-alpha" targetFramework="wp80" />
  <package id="AsyncOAuth" version="0.8.4" targetFramework="wp80" />
  <package id="BufferAPI" version="0.1.0-alpha" targetFramework="wp80" />
  <package id="Fody" version="1.23.2" targetFramework="wp80" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="wp80" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.48.1.0" targetFramework="wp80" developmentDependency="true" />
  <package id="ReorderListBox" version="1.2.0.0" targetFramework="wp80" />
  <package id="Sharplonger" version="0.1.0-alpha" targetFramework="wp80" />
  <package id="Tweetsharp.PCL" version="3.0.8-alpha" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>