<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AncoraMVVM.Base" version="0.1.12-alpha" targetFramework="wp80" />
  <package id="AncoraMVVM.Phone7" version="0.1.13-alpha" targetFramework="wp80" />
  <package id="AncoraMVVM.Rest" version="0.1.13-alpha" targetFramework="wp80" />
  <package id="AsyncOAuth" version="0.8.3" targetFramework="wp80" />
  <package id="BufferAPI" version="0.1.0-alpha" targetFramework="wp80" />
  <package id="Fody" version="1.20.0.0" targetFramework="wp80" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.15" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp80" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.45.0.0" targetFramework="wp80" developmentDependency="true" />
  <package id="Sharplonger" version="0.1.0-alpha" targetFramework="wp80" />
  <package id="Tweetsharp.PCL" version="3.0.4-alpha" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>